WebApplication1/Connected Services/wcfProductionOrderDetails/wcfProductionOrderDetails2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcfMIIProxy" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcfMIIProxy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductionOrderDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductionOrderDetails" nillable="true" type="tns:ProductionOrderDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductionOrderDetails" nillable="true" type="tns:ArrayOfProductionOrderDetails" />
  <xs:complexType name="ProductionOrderDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ABLAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APRIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUART" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUFNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CFN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHARG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERDAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERNAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEVOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FTRMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GAMNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GLTRP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GLUZP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GSTRP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GSUZP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GWEMG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IAMNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IGMNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LGORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LTRMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLNAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLNBEZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLNNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REVLV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SBMEH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STLAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STLNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WERKS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductionOrderDetails" nillable="true" type="tns:ProductionOrderDetails" />
  <xs:complexType name="ArrayOfProductionOrderDetails_VP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductionOrderDetails_VP" nillable="true" type="tns:ProductionOrderDetails_VP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductionOrderDetails_VP" nillable="true" type="tns:ArrayOfProductionOrderDetails_VP" />
  <xs:complexType name="ProductionOrderDetails_VP">
    <xs:sequence>
      <xs:element minOccurs="0" name="ABLAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APRIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUART" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUFNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CFN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHARG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERDAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERNAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEVOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FTRMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GAMNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GLTRP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GLUZP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GMEIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GSTRP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GSUZP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GTIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GWEMG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IAMNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IGMNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LGORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LTRMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLNAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLNBEZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLNNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REVLV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STLAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STLNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WERKS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductionOrderDetails_VP" nillable="true" type="tns:ProductionOrderDetails_VP" />
  <xs:complexType name="ArrayOfdrv_ProdOrdDetMatMstBscDat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="drv_ProdOrdDetMatMstBscDat" nillable="true" type="tns:drv_ProdOrdDetMatMstBscDat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdrv_ProdOrdDetMatMstBscDat" nillable="true" type="tns:ArrayOfdrv_ProdOrdDetMatMstBscDat" />
  <xs:complexType name="drv_ProdOrdDetMatMstBscDat">
    <xs:sequence>
      <xs:element minOccurs="0" name="ABLAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APRIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATWRT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUART" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUFNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BESKZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BISMT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BRGEW" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BSTMA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BSTMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BSTRF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CFN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHARG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISLS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOKNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOKVR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EAN11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EISBE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERDAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERNAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXTWG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEVOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FRTME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FTRMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GAMNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GEWEI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GLTRP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GLUZP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GSTRP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GSUZP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GWEMG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IAMNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IGMNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LGORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LTRMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAGRV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAKTX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATKL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MEINS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MINBE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSTAE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSTDE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MTPOS_MARA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTGEW" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUMTP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLNAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLNBEZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLNNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRDHA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REVLV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SBMEH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SPART" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STLAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STLNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOLEH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOLUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WERKS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WZEIT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="drv_ProdOrdDetMatMstBscDat" nillable="true" type="tns:drv_ProdOrdDetMatMstBscDat" />
  <xs:complexType name="ArrayOfdrv_ProdOrdDetMatMstBscDat_VP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="drv_ProdOrdDetMatMstBscDat_VP" nillable="true" type="tns:drv_ProdOrdDetMatMstBscDat_VP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdrv_ProdOrdDetMatMstBscDat_VP" nillable="true" type="tns:ArrayOfdrv_ProdOrdDetMatMstBscDat_VP" />
  <xs:complexType name="drv_ProdOrdDetMatMstBscDat_VP">
    <xs:sequence>
      <xs:element minOccurs="0" name="ABLAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APRIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATWRT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUART" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUFNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BESKZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BISMT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BRGEW" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BSTMA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BSTMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BSTRF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CFN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHARG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISLS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOKNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOKVR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EAN11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EISBE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERDAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERNAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXTWG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEVOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FRTME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FTRMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GAMNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GEWEI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GLTRP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GLUZP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GMEIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GSTRP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GSUZP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GTIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GWEMG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IAMNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IGMNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LGORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LTRMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAGRV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAKTX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATKL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MEINS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MINBE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSTAE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSTDE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MTPOS_MARA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTGEW" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUMTP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLNAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLNBEZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLNNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRDHA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REVLV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SPART" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STLAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STLNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VERSION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOLEH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOLUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WERKS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WZEIT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="drv_ProdOrdDetMatMstBscDat_VP" nillable="true" type="tns:drv_ProdOrdDetMatMstBscDat_VP" />
  <xs:complexType name="ArrayOfPOBsynch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="POBsynch" nillable="true" type="tns:POBsynch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPOBsynch" nillable="true" type="tns:ArrayOfPOBsynch" />
  <xs:complexType name="POBsynch">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUFNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CFN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GAMNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLNBEZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WERKS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POBsynch" nillable="true" type="tns:POBsynch" />
  <xs:complexType name="ArrayOfCoatingPO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CoatingPO" nillable="true" type="tns:CoatingPO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCoatingPO" nillable="true" type="tns:ArrayOfCoatingPO" />
  <xs:complexType name="CoatingPO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUFNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHARG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLNBEZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WERKS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoatingPO" nillable="true" type="tns:CoatingPO" />
  <xs:complexType name="ArrayOfPOStepDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="POStepDetail" nillable="true" type="tns:POStepDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPOStepDetail" nillable="true" type="tns:ArrayOfPOStepDetail" />
  <xs:complexType name="POStepDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUFNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LTXA1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STTXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VORNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WERKS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POStepDetail" nillable="true" type="tns:POStepDetail" />
  <xs:complexType name="LotDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocalLastStep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalLot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalPart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Qty" type="xs:decimal" />
      <xs:element minOccurs="0" name="RemoteLastStep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemoteLot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemotePart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Revision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchedulingFamily" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StepDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StepDescriptionR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LotDetails" nillable="true" type="tns:LotDetails" />
  <xs:complexType name="ArrayOfSewingPO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SewingPO" nillable="true" type="tns:SewingPO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSewingPO" nillable="true" type="tns:ArrayOfSewingPO" />
  <xs:complexType name="SewingPO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUART" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUFNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GAMNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GSTRP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLNBEZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WERKS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SewingPO" nillable="true" type="tns:SewingPO" />
</xs:schema>